{% extends "base.html" %}


{% block title %}
Productos | Mundo Mascota
{% endblock %}




{% block content %}



<section class="container my-5">


<h1 class="text-success fw-bold text-center mb-3">
🐾 Categorías de Productos
</h1>


<h4 class="text-center text-muted mb-5">
{{ titulo }}
</h4>





<div class="row row-cols-1 row-cols-md-4 g-4">





{% for categoria in categorias %}



<div class="col">


<div class="card h-100 shadow categoria">



<img src="{{ url_for('static', filename='img/' + categoria.imagen) }}"
class="card-img-top"
alt="{{ categoria.nombre|upper }}">





<div class="card-body text-center">



<h5 class="fw-bold text-success">

{{ categoria.icono }}

{{ categoria.nombre|upper }}

</h5>





<button class="btn btn-outline-success"
data-bs-toggle="collapse"
data-bs-target="#categoria{{ loop.index }}">


Ver productos


</button>






<div class="collapse mt-3" id="categoria{{ loop.index }}">



<ul class="list-group">



{% for producto in categoria.productos %}



<li class="list-group-item">

{{ producto }}

</li>



{% endfor %}



</ul>



</div>







<br>



{% if categoria.stock > 0 %}



<span class="badge bg-success">

Disponible:
{{ categoria.stock }}

</span>



{% else %}



<span class="badge bg-danger">

Agotado

</span>



{% endif %}





</div>


</div>


</div>




{% endfor %}





</div>



</section>




{% endblock %}