<!-- NAVBAR -->
<nav class="navbar navbar-expand-lg navbar-dark bg-success sticky-top">
<div class="container">
<a class="navbar-brand fw-bold" href="{{ url_for('index') }}">
Mundo Mascota
</a>
<button class="navbar-toggler"
type="button"
data-bs-toggle="collapse"
data-bs-target="#menu">
<span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse" id="menu">
<ul class="navbar-nav ms-auto align-items-center">
<li class="nav-item">
<a class="nav-link text-white"
href="{{ url_for('index') }}">
Inicio
</a>
</li>
<li class="nav-item">
<a class="nav-link text-white"
href="{{ url_for('productos') }}">
Productos
</a>
</li>
<li class="nav-item">
<a class="nav-link text-white"
href="{{ url_for('clientes') }}">
Clientes
</a>
</li>
<li class="nav-item">
<a class="nav-link text-white"
href="{{ url_for('proveedores') }}">
Proveedores
</a>
</li>
<li class="nav-item">
<a class="nav-link text-white"
href="{{ url_for('facturacion') }}">
Facturación
</a>
</li>
{% if current_user.is_authenticated %}
<li class="nav-item ms-lg-3">
    <span class="navbar-text text-warning fw-bold me-2">
        👋 {{ current_user.usuario }}
    </span>
</li>
<li class="nav-item">
    <a class="btn btn-danger btn-sm text-white fw-bold px-3 py-1 ms-1" style="border-radius: 20px;" href="{{ url_for('logout') }}">
        Cerrar Sesión
    </a>
</li>
{% else %}
<li class="nav-item ms-lg-3">
    <a class="btn btn-outline-light btn-sm fw-bold px-3 py-1 me-2" style="border-radius: 20px;" href="{{ url_for('login') }}">
        Ingresar
    </a>
</li>
<li class="nav-item">
    <a class="btn btn-light btn-sm text-success fw-bold px-3 py-1" style="border-radius: 20px;" href="{{ url_for('registro') }}">
        Registrarse
    </a>
</li>
{% endif %}
</ul>
</div>
</div>
</nav>
